body {
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

/*Header*/

.header {
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
}

/*End of Header*/
/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #8080ff;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ccccff;
}



/*End of Navigation Bar*/

/*Contact Page*/

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.box {
    float: right;
    width: 50%;
    padding: 20px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    text-align: center;
    border: 0px solid;
    width: 1000px;
    margin: 0 auto;
}

 
