body {
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

/*Header*/

.header {
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
}

/*End of Header*/
/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*End of Navigation Bar*/


#map{
    height: 80px;
    width: 20%;
}
 
